---
export interface Props {
	topic: string;
}

const {topic} = Astro.props;
---
<section class="bio">
	<h2>{topic}</h2>
	<ul>
		<li>2016 高槻高等学校　卒業</li>
		<li>2021 法政大学文学部哲学科　卒業</li>
		<li>2022 受託系開発会社に入社</li>
		<li>2023 フリーランス業を開始</li>
	</ul>
</section>
