---
export interface Props {
	topic: string;
}

const {topic} = Astro.props;
---
<div class="bio">
	<h2>{topic}</h2>
	<ul>
		<li>2021 法政大学文学部哲学科　卒業</li>
		<li>2022 開発会社に入社。<br>WEB制作や受託開発に携わる</li>
		<li>2023 フリーランス業を開始</li>
	</ul>
</div>
<style>
	
	
</style>
