---
export interface Props {

}

// const { href, title, body } = Astro.props;
---

<header>
    <div class="header">
        <figure>
            <img src="" alt="">
        </figure>
        <figure>
            <img src="" alt="">
        </figure>
    </div>
</header>