---
export interface Props {
	// topic: string;
}

// const {topic} = Astro.props;
---
<section class="iam">
	<figure>
        <img src="" alt="">
        <figcaption>
            <h1>Akira Nishida</h1>
            <p>(Developer,Animator at Kyoto)</p>
        </figcaption>
    </figure>
</section>
<style>
	
	
</style>
