---
export interface Props {
	// topic: string;
}

// const {topic} = Astro.props;
---
<section class="iam">
	<figure>
        <img src="/icon/topIcon.webp" alt="">
        <figcaption>
            <h1>Akira Nishida</h1>
            <p>(Developer,Animator at Kyoto)</p>
        </figcaption>
    </figure>
</section>
<style>	
    section.iam figure img{
        border-radius: 50%;
        width:200px;
        height:200px;
        background-color: #fff;
        margin:0 0 20px 0;
    }
    section.iam figcaption{
        /* background-color: #e1dab8; */
        padding: 10px;
        text-align: left;
        border-radius:10px;
    }
    section.iam p{
        margin:6px 0 0 20px;
    }
</style>
