---
export interface Props {
	// topic: string;
}

// const {topic} = Astro.props;
---
<div>
	<p>
        <img src="" alt="animation">
    </p>
    <div class="me">
        <p>akira nishida</p>
        <p>Developer,Animator</p>
        <img src="" alt="me">
    </div>
    <div>
        <p><a href="">portfolio</a></p>
    </div>
</div>
<style>
	
	
</style>
