---
export interface Props {
	// topic: string;
}

// const {topic} = Astro.props;
---
<div class="me">
	<figure>
        <img src="" alt="">
        <figcaption>
            <p>akira nishida</p>
            <p>Developer,Animator</p>
        </figcaption>
    </figure>
    <p><a href="">portfolio</a></p>
</div>
<style>
	
	
</style>
