---
export interface Props {
	topic: string;
}

const {topic} = Astro.props;
---
<div>
	<p>{topic}</p>
	<ul>
		<li>2021 法政大学文学部哲学科　卒業</li>
		<li>2022 開発会社に入社。<br>
			<span>WEB制作や受託開発に携わる</span></li>
		<li>2023 フリーランス業を開始</li>
	</ul>
</div>
<style>
	
	
</style>
