---
export interface Props {
	topic: string;
}

const {topic} = Astro.props;
---
<div>
	<h2>{topic}</h2>
	<ul>
		<li><a href=""><img src="" alt="github-icon">@otokuni_dev</a></li>
		<li><a href=""><img src="" alt="twitter-icon">@otokuni_dev</a></li>
	</ul>
</div>
<style>
	
	
</style>
