---
export interface Props {
	topic: string;
}

const {topic} = Astro.props;
---
<section class="web">
	<h2>{topic}</h2>
	<ul>
		<li>
			<figure>
			<a href=""><img src="/public/icon/github-icon.svg" alt="github-icon">@otokuni_dev</a>
			</figure>
		</li>
		<li>
			<figure>
			<a href=""><img src="public/icon/twitter-icon.svg" alt="twitter-icon">@otokuni_dev</a>
			</figure>
		</li>
	</ul>
</section>